<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {%- seo title=false -%}
  <!-- local css -->
  <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" />
  <link rel="shortcut icon" type="image/x-icon" href="/{{ site.favicon }}" />
  <link rel="stylesheet" href="{{ site.url }}/assets/css/grayscale.css" />
  <!-- docsearch -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@alpha" />
  <!-- utils -->
  <link href="/assets/css/utilities.min.css" rel="stylesheet">
  <!-- <link href="https://unpkg.com/tailwindcss@2.0.1/dist/utilities.min.css" rel="stylesheet"> -->
</head>
