---
sitemap: false
---

@import "moving";
@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600&display=swap");

/* markdown body */

.post-content {
  .task-list-item {
    list-style-type: none;
    text-indent: -1.5em;
  }
  .task-list-item:before {
    content: "";
    display: static;
    margin-right: 0px;
  }
  .task-list-item > input[type=checkbox] {
    margin-right: 8px;
    text-indent: -1.7em;
  }
}

/* end */

/* layout */

details > summary {
  cursor: pointer;
}

p:last-child {
  margin-bottom: 0;
}

/* end */

/* page element start */

.busuanzi_container_site {
  margin-left: 8px;
}

.about-page .about-header .about-avatar {
  align-self: center;
  border: none;
  width: 6rem;
  height: 6rem;
  margin: 0 1rem 0 0;
}

.page-navigation {
  display: block;
  width: 100%;
  overflow: hidden;
}

.page-navigation a {
  display: block;
  float: left;
  margin: 1em 0;
}

.page-navigation .next {
  text-align: right;
  float: right;
}

.post img {
  cursor: zoom-in;
}

/* end */

/* component start */

.no-wrap-table {
  display: block;
  white-space: nowrap;
  overflow-x: scroll;
}

.outline-box {
  border: 1px solid #e8e8e8;

  > *:last-child {
    margin-bottom: 0;
  }

  &-head {
    padding: 8px 12px;
    color: rgba(0,0,0,.85);
    box-sizing: border-box;
    border-bottom: 1px solid #f0f0f0;

    > h3, > h4, > h5 {
      margin: 0 !important;
    }
  }

  &-body {
    padding: 10px 15px;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &-hoverable {
    // cursor: pointer;
    transition: box-shadow .3s,border-color .3s;

    &:hover {
      border-color: transparent;
      box-shadow: 0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, .12), 0 5px 12px 4px rgba(0, 0, 0, .09);
    }
  }
}

.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  
  &-primary {
    background-color: $brand-color;
  }

  &-default {
    background-color: #777;
  }

  &-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
  }

  &-warning {
    background-color: #f0ad4e;
  }

  &-info {
    background-color: #5bc0de;
  }
}

.ant-tag {
  box-sizing: border-box;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  display: inline-block;
  height: auto;
  margin: 0 8px 0 0;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  opacity: 1;
  transition: all .3s;

  &-gold {
    color: #d48806;
    background: #fffbe6;
    border-color: #ffe58f;
  }

  &-magenta {
    color: #c41d7f;
    background: #fff0f6;
    border-color: #ffadd2;
  }

  &-red {
    color: #cf1322;
    background: #fff1f0;
    border-color: #ffa39e;
  }

  &-volcano {
    color: #d4380d;
    background: #fff2e8;
    border-color: #ffbb96;
  }

  &-orange {
    color: #d46b08;
    background: #fff7e6;
    border-color: #ffd591;
  }

  &-lime {
    color: #7cb305;
    background: #fcffe6;
    border-color: #eaff8f;
  }

  &-green {
    color: #389e0d;
    background: #f6ffed;
    border-color: #b7eb8f;
  }

  &-cyan {
    color: #08979c;
    background: #e6fffb;
    border-color: #87e8de;
  }

  &-blue {
    color: #096dd9;
    background: #e6f7ff;
    border-color: #91d5ff;
  }

  &-geekblue {
    color: #1d39c4;
    background: #f0f5ff;
    border-color: #adc6ff;
  }

  &-purple {
    color: #531dab;
    background: #f9f0ff;
    border-color: #d3adf7;
  }
}

.ant-alert {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: $spacing-unit / 2;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  // display: flex;
  align-items: center;
  padding: 8px 15px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 2px;

  // default
  background: #fafafa;
  border: 1px solid #d9d9d9;

  & > *:last-child {
    margin-bottom: 0;
  }

  &-warning {
    background-color: #fffbe6;
    border: 1px solid #ffe58f;
  }

  &-info {
    background-color: #e6f7ff;
    border: 1px solid #91d5ff;
  }

  &-success {
    background-color: #f6ffed;
    border: 1px solid #b7eb8f;
  }

  &-error {
    background-color: #fff2f0;
    border: 1px solid #ffccc7;
  }

  &-gold {
    background: #fffbe6;
    border-color: #ffe58f;
  }

  &-magenta {
    background: #fff0f6;
    border-color: #ffadd2;
  }

  &-red {
    background: #fff1f0;
    border-color: #ffa39e;
  }

  &-volcano {
    background: #fff2e8;
    border-color: #ffbb96;
  }

  &-orange {
    background: #fff7e6;
    border-color: #ffd591;
  }

  &-lime {
    background: #fcffe6;
    border-color: #eaff8f;
  }

  &-green {
    background: #f6ffed;
    border-color: #b7eb8f;
  }

  &-cyan {
    background: #e6fffb;
    border-color: #87e8de;
  }

  &-blue {
    background: #e6f7ff;
    border-color: #91d5ff;
  }

  &-geekblue {
    background: #f0f5ff;
    border-color: #adc6ff;
  }

  &-purple {
    background: #f9f0ff;
    border-color: #d3adf7;
  }
}

.ant-divider {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  border-top: 1px solid rgba(0,0,0,.06);

  &-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 24px 0;
  }
}

.caption {
  text-align: center;
  color: rgba(156,163,175,1);
  margin-top: 0.5rem;
  font-style: italic;
}

/* end */