---
sitemap: false
---

@import "moving";
@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

.busuanzi_container_site {
  margin-left: 8px;
  opacity: 0;
  transition: all ease-in-out 0.2s;
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

details {
  margin-bottom: 12px;
}

.about-page .about-header .about-avatar {
  align-self: center;
  border: none;
  width: 6rem;
  height: 6rem;
  margin: 0 1rem 0 0;
}
